* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  width: 100vw;
  min-height: 100vh;
  line-height: 1.4;
  font-weight: normal;
  font-family: "Kanit", sans-serif;
  color: #e9f0ef;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  user-select: none;
  pointer-events: none;
}

button,
input,
select {
  font-family: "Kanit", sans-serif;
  outline: none;
  border: none;
  background-color: transparent;
}

button,
select {
  cursor: pointer;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #060d0c;
}

.excash-app {
  width: 100%;
  max-width: 1170px;
  margin: 0 2rem;
  padding: 7rem 1.5rem 7rem;
  border-radius: 2rem;
  background-color: #06100f;
  box-shadow: 0 2px 250px -10px rgba(28, 145, 135, 0.3);
}

.excash-header {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}

.logotype {
  display: block;
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.main-heading {
  margin: 40px auto 0;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #19ebd9;
}

.form {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 350px;
  margin: 3rem auto 0;
  gap: 1rem;
}

.select-form {
  position: relative;
  width: 100%;
}
.select-form .currencies-list {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.8rem;
  border: 4px solid transparent;
  border-radius: 2rem;
  background-color: #e9f0ef;
  font-size: 0.8rem;
  font-weight: 600;
  color: #06100f;
  appearance: none;
  transition: border-color 0.3s;
}
.select-form .currencies-list:focus {
  border-color: #1c9187;
}
.select-form::after {
  position: absolute;
  content: "";
  background: url("../../images/arrow.svg") no-repeat center/contain;
  width: 0.8rem;
  aspect-ratio: 1;
  top: 50%;
  right: 1.4rem;
  transform: translateY(-50%);
  z-index: 10;
}

.amount-input {
  display: block;
  width: 100%;
  padding: 1.3rem 1.8rem;
  border: 4px solid transparent;
  border-radius: 2rem;
  background-color: #e9f0ef;
  font-size: 0.8rem;
  font-weight: 600;
  color: #06100f;
  transition: border-color 0.3s;
}
.amount-input::placeholder {
  color: #78807f;
}
.amount-input:active, .amount-input:focus {
  border-color: #1c9187;
}

.calculate-btn {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  padding: 1.3rem 2.3rem;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 0.8rem;
  background-color: #1c9187;
  font-size: 1rem;
  font-weight: 600;
  color: #e9f0ef;
  transition: background-color 0.3s;
}
.calculate-btn .loader {
  display: none;
  border: 2px solid transparent;
  border-top: 2px solid #19ebd9;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.calculate-btn:hover, .calculate-btn:active, .calculate-btn:focus {
  background-color: #156a63;
}

.result-container {
  display: flex;
  width: 100%;
  max-width: 500px;
  height: 5rem;
  margin: 3rem auto 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.result-container .highlighted {
  color: #1c9187;
}

.help-block {
  position: absolute;
  width: 100%;
  bottom: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #f44336;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 14px;
  }
  .form {
    grid-template-columns: calc(70% - 0.5rem) calc(30% - 0.5rem);
  }
  .calculate-btn {
    grid-column: 1/3;
  }
}

/*# sourceMappingURL=main.css.map */
